@import url(http://fonts.googleapis.com/css?family=Cutive);

a.circle-button { 
  display:block;
  background: yellow;
  color:#fff;
  width:200px;
  height:200px;
  border-radius:200px;
  font:normal 30px/200px 'Cutive', serif;
  text-align:center;
  text-decoration:none;
  border:5px solid #333;
  padding:3px;
	margin: 50% auto auto auto;
}

a.circle-button:hover { 
  background:#000;
  color:white;
}